<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/highlight.js/styles/a11y-dark.min.css" rel="stylesheet" />

</head>
<body>
    @await Component.InvokeAsync("Navbar")
    <div class="row mt-5">
        <div class="col-4 border">
            @await Component.InvokeAsync("SubjectSidebar")
        </div>
        <div class="col-8">
            @RenderBody()
        </div>

    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
</body>
</html>
